<launch>

    <!-- this file is auto generated using pedsim_gazebo_plugin pkg -->
    <arg name="x_pos" default="20" />
    <arg name="y_pos" default="20" />
    <arg name="z_pos" default="0" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find pedsim_gazebo_plugin)/worlds/scene1.world" />
    </include>

    <include file="$(find pedsim_simulator)/launch/simulator.launch">
        <arg name="scene_file" value="$(find pedsim_simulator)scenarios/scene1.xml" />
        <arg name="robot_mode" value="0" />
        <arg name="with_robot" default="false" />
    </include>

    <!-- this node spawn pedsim actors to gazebo once, then the plugin updates their pose -->
    <node pkg="pedsim_gazebo_plugin" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents" output="screen"></node>
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/d435/depth/color/image_raw" />
    </node>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description_with_d435)/urdf/turtlebot3_waffle_pi_with_d435.urdf.xacro" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_waffle_pi_with_d435 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />


</launch>
