<launch>
    <param name ="/use_sim_time" value="true"/>
    <!-- this file is auto generated using pedsim_gazebo_plugin pkg -->
    <arg name="x_pos" default="10" />
    <arg name="y_pos" default="10" />
    <arg name="z_pos" default="0" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find pedsim_gazebo_plugin)/worlds/social_contexts_pillar.world" />
    </include>

    <include file="$(find pedsim_simulator)/launch/simulator.launch">
        <arg name="scene_file" value="$(find pedsim_simulator)scenarios/social_contexts_pillar_1_agent.xml" />
        <arg name="robot_mode" value="0" />
        <arg name="with_robot" default="false" />
    </include>

    <!-- this node spawn pedsim actors to gazebo once, then the plugin updates their pose -->
    <node pkg="pedsim_gazebo_plugin" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents" output="screen"></node>

    <!-- realsense d435から取得されたデプス画像 -->
    <!-- <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/d435/depth/color/image_raw" />
    </node> -->
    
    <!-- d435付きturtlebot waffle pi-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description_with_d435)/urdf/waffle_pi/no_d435/lidar-1m.xacro" />
    
    <!-- gazeboへ3Dモデルをスポーンさせる -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_waffle_pi_with_d435 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

    <!-- <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
        <arg name="map_file" value="$(find pedsim_gazebo_plugin)/map/piller_map.yaml"/>
    </include> -->

</launch>
